{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="main-container index-page">

        <!-- <h1> £free_delivery_threshold - double curly's </h1> -->
        

            <div class="mySlides fade slide-1">

                <div class="banner-container">

                    <div class="banner">

                        <p>
                            Get FREE DELIVERY when you spend over, £{{ free_delivery_threshold }}!
                        </p>
                    
                    </div>

                </div>
                
            </div>

            <div class="mySlides fade slide-2">

                <div class="banner-container">

                    <div class="banner">

                        <p>
                            Get all the latest comic books!
                        </p>
                        <br>

                        <a class="shop-now" href="{% url 'products' %}?category=comic_book">SHOP NOW</a>

                    </div>

                </div>
                
            </div>

            <div class="mySlides fade slide-3">

                <div class="banner-container">

                    <div class="banner">

                        <p>
                            Need to protect your Stash?
                        </p>
                        <br>

                        <a class="shop-now" href="{% url 'products' %}?category=accessory">Accessories</a>

                    </div>

                </div>
                
            </div>

        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'home/js/auto_slideshow.js' %}"></script>
{% endblock %}