{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="main-container index-page">

        <!-- <h1> £free_delivery_threshold - double curly's </h1> -->
        

            <div class="mySlides fade slide-1">
                3 guns
            </div>

            <div class="mySlides fade slide-2">
                batman
            </div>

            <div class="mySlides fade slide-3">
                hulk
            </div>

        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'home/js/auto_slideshow.js' %}"></script>
{% endblock %}