{% extends "base.html" %}
{% load static %}
{% load shopping_bag_tool %}

{% block content %}

    <div class="main-container checkout-page">

        <h1>Checkout</h1>

        <div class="checkout-container">

            <div class="bag-items">

                {% for item in bag_items %}

                    <div class="each-item">

                        <div class="bag-item-img">

                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">

                        </div>

                        <div class="bag-item-details">

                            <div class="item-detail-title">
                                <h3>{{ item.product.name }}</h3>
                                <br>
                            </div>

                            <div class="item-quantity">
                                <h5>Qty: {{ item.quantity }}</h5>
                            </div>

                            <div class="item-sub-total">
                                <br>
                                <h3>Subtotal: £{{ item.product.price | calc_subtotal:item.quantity }}</h3>
                            </div>

                        </div>

                    </div>

                {% endfor %}

            </div>

            <div class="shopping-bag-total">

                <div class="shop-bag-sum">

                    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>

                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>

                    <h4><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>

                </div>

            </div>

            <h6>Please fill out the form to complete your order.</h6>

            <form action="{% url 'checkout' %}" id="payment-form" method="POST">
                {% csrf_token %}

                <fieldset class="">

                    <legend class="fieldset-label">Details</legend>

                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}

                </fieldset>

                <fieldset class="">

                    <legend class="">Delivery</legend>

                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}

                    <div class="">

                        {% if user.is_authenticated %}

                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>

                        <input class="" type="checkbox" id="id-save-info" name="save-info"
                            checked>

                        {% else %}

                        <label class="" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>

                        {% endif %}

                    </div>

                </fieldset>

                <fieldset class="">

                    <legend class="fieldset-label">Payment</legend>

                    <!-- A Stripe card element will go here -->
                    <div class="" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="" id="card-errors" role="alert"></div>

                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">

                </fieldset>

                <div class="submit-button text-right mt-5 mb-2">

                    <a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">

                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>

                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>

                    <button id="submit-button" class="btn btn-black rounded-0">

                        <span class="font-weight-bold">Complete Order</span>

                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>

                    </button>

                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>

                        <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                    </p>

                </div>

            </form>

        </div>

        <br>

    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}