{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="main-container checkout-page">

        <h1>Purchase Successful, Thank You!</h1>
        <div class="empty-bag-cont">

                <div class="empty-bag">

                    <p>Your order number is: <strong>{{ order }}</strong> and a confirmation email will be sent to <strong>{{ order.email }}</strong></p>

                    <div class="keep-shopping-button">

                        <a href="{% url 'products' %}">
                            <i class="fas fa-chevron-left"></i> Keep Shopping
                        </a>

                    </div>
                    
                </div>

            </div>

        <br>

    </div>

{% endblock %}