/* Some styles come from checkout.css */

.allauth-pages{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.664);
}

.allauth-pages h1{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    color: black;
}

#allauth-form label{
    margin-bottom: 3px;
}

#div_id_login input, #div_id_password input, #div_id_email input, #div_id_email2 input, #div_id_username input, #div_id_password1 input,#div_id_password2 input{
    height: 40px;
    padding: 10px 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 90%;
}

#div_id_login label, #div_id_password label, #div_id_email label, #div_id_email2 label, #div_id_username label, #div_id_password1 label,#div_id_password2 label{
    text-decoration: underline;
}

#div_id_remember input{
    margin-bottom: 8px;
}

.allauth-lnk{
    text-decoration: underline;
    color: inherit;
}

.allauth-btn{
    padding: 5px;
    color: black;
    background-color: orange;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.allauth-btn:hover{
    color: white;
    background-color: black;
}

/* Responsive Layout */
@media screen and (min-width: 1000px){

    .allauth-container{
        display: block !important;
    }
    
}