*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Cabin', sans-serif;
}

/* Header - Navigation / Search */

.head-nav{
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    height: 100px;
    position: fixed;
    display: block;
}

.logo-container{
    width: auto;
    height: inherit;
    float: left;
}

.logo{
    position: inherit;
    height: 90px;
    padding: 5px;
}

.nav-container{
    float: right;
    height: inherit;
    display: block;
}

.navmenu{
    list-style-type: none;
    height: inherit;
    margin: auto;
}

.navmenu li{
    display: inline;
    float: left;
    padding: 30px 12px 39.6px 12px;
    font-size: 25px;
    cursor: pointer;
}

.nav-button:hover{
    background-color: rgb(4, 50, 109);
    color: white;  
}

/* toggleClass ".srch-btn" */
.srch-btn-click, .acc-btn-click{
    background-color: rgb(4, 50, 109);
    color: white;
}

.navmenu a, .navmenu span{
    text-decoration: none;
    text-align: center;
    color: inherit;
    height: 100px;
}

.nav-name{
    display: none; /* change to inline or block for larger screens */
}

.search-tool, .account-menu{
    display: none;
    margin: 0 auto 0 auto;
}

.srch-bar, .acc-menu-drop{
    background-color: rgb(4, 50, 109);
    height: 50px;
    border-top: 1px solid white;
}

.srch-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.srch-column{
    width: 90%;
    margin: auto;
}

.srch-box{
    display: flex;
    width: 100%;
    height: calc(30px - 4px);
    font: inherit;
    font-size: 12px;
    padding-left: 5px;
    margin: auto;
}

.hide-btn{
    position: absolute;
    top: -999px;
    left: -999px;
    width: 0px;
    height: 0px;
}

.acc-menu-drop{
    float: right;
    text-align: right;
    padding-top: 15px;
    width: 100%;
}

.acc-menu-drop a{
    text-decoration: none;
    color: white;
    padding-right: 15px;
}

.acc-btn, .prod-menu-col p:hover{
    text-decoration: underline;
}

.prod-menu-cont{
    padding-top: 100px;
}

.prod-menu-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(4, 50, 109);
    color: white;
    height: 50px;
}

.prod-menu-col{
    margin: auto;
    cursor: pointer;
    background-color: rgb(4, 50, 109);
    color: white;
    height: inherit;
    width: 25%;
}

.prod-menu-col p{
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
}

.prod-menu-col:hover{
    color: rgb(4, 50, 109);
    background-color: white;
}