*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Cabin', sans-serif;
    background: url('/media/comics-495258_1920.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.update-link, .remove-item, .decrement-qty, .increment-qty{
    cursor: pointer;
}

.main-container{
    padding-top: 150px;
    width: 100%;
    z-index: -1;
}

.index-page{
    height: 100%; /* templates > home > index.html */
}

.products-page, .shopping-bag-page{
    height: auto;
    background-color: white;
}

.shopping-bag-page{
    height: 100%;
}


/* Header - Navigation / Search */

.head-nav{
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    height: 100px;
    position: fixed;
    display: block;
    z-index: 999;
}

.logo-container{
    width: auto;
    height: inherit;
    float: left;
}

.logo{
    position: inherit;
    width: 150px;
    margin: 15px 5px 5px 5px;
}

.nav-container{
    float: right;
    height: inherit;
    display: block;
}

.navmenu{
    list-style-type: none;
    height: inherit;
    margin: auto;
}

.navmenu li{
    display: inline;
    float: left;
    padding: 30px 12px 39.6px 12px;
    font-size: 25px;
    cursor: pointer;
}

.nav-button:hover{
    background-color: rgb(4, 50, 109);
    color: white;
}

.nav-name{
    display: none;
}

/* toggleClass for JS */
.srch-btn-click, .acc-btn-click{
    background-color: rgb(4, 50, 109);
    color: white;
    border-bottom: 1px solid white;
}

.navmenu a, .navmenu span{
    text-decoration: none;
    text-align: center;
    color: inherit;
    height: 100px;
}

.nav-name{
    font-size: 14px;
}

.items-in-bag{
    color: rgb(0, 174, 255);
}

/* Search Bar & Account Menu */

.search-tool, .account-menu{
    position: fixed;
    width: 100%;
    display: none;
    margin: 150px auto 0 auto;
    z-index: 998;
}

.srch-bar, .acc-menu-drop{
    background-color: rgb(4, 50, 109);
    height: 50px;
    border-top: 1px solid white;
}

.srch-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.srch-column{
    width: 90%;
    margin: auto;
}

.srch-box{
    display: flex;
    width: 100%;
    height: calc(30px - 4px);
    font: inherit;
    font-size: 12px;
    padding-left: 5px;
    margin: auto;
}

.hide-btn{
    position: absolute;
    top: -999px;
    left: -999px;
    width: 0px;
    height: 0px;
}

.acc-menu-drop{
    float: right;
    text-align: right;
    padding-top: 15px;
    width: 100%;
}

.acc-menu-drop a{
    text-decoration: none;
    color: white;
    padding-right: 15px;
}

.acc-btn:hover{
    text-decoration: underline;
}

/* Product Menu Navigation Bar */

.prod-menu-cont{
    position: fixed;
    width: 100%;
    padding-top: 100px;
    z-index: 998;
}

.prod-menu-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(4, 50, 109);
    color: white;
    height: 50px;
}

.prod-menu-col{
    margin: auto;
    cursor: pointer;
    background-color: rgb(4, 50, 109);
    color: white;
    height: inherit;
    width: 33.33%;
}

.prod-menu-col p{
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
}

.prod-menu-col:hover{
    color: rgb(4, 50, 109);
    background-color: white;
    text-decoration: underline;
    font-weight: 700;
    border-top: 1px solid rgb(4, 50, 109);
    height: calc(inherit - 1px);
}

.all-prod-menu, .comic-menu, .access-menu, .spec-off-menu{
    position: fixed;
    width: 100%;
    margin-top: 150px;
    background-color: rgb(4, 50, 109);
    height: auto;
    border-top: 1px solid white;
    display: none;
    z-index: 998;
}

.all-prod-menu a, .comic-menu a, .access-menu a, .spec-off-menu a{
    text-decoration: none;
    color: white;
}

.all-prod-menu p, .comic-menu p, .access-menu p, .spec-off-menu p{
    padding: 8px 2px 8px 5px;
    font-size: 13px;
}

.all-prod-menu p:hover{
    text-decoration: underline;
}

.comic-menu p:hover{
    text-decoration: underline;
}

.access-menu p:hover{
    text-decoration: underline;
}

.spec-off-menu p:hover{
    text-decoration: underline;
}

/* Footer */

footer{
    height: auto;
    background-color: rgb(4, 50, 109);
    color: white;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-info{
    width: 50%;
    padding: 10px 15px;
    color: rgb(150, 194, 255);
    float: left;
}

.contact-info h3, .social-container h5{
    text-decoration: underline;
}

.contact-info p{
    font-size: 10px;
}

.contact-info p a{
    text-decoration: none;
    color: inherit;
}

.social-container{
    float: right;
    width: 50%;
    color: rgb(150, 194, 255);
    text-align: center;
    padding: 10px;
    margin: auto 0;
}

.social-networks{
    list-style-type: none;
    font-size: 30px;
}

.social-networks li{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.social-networks a{
    text-decoration: none;
    color: inherit;
}

.social-container h5{
    display: none;
}

.social-networks a:hover{
    color: white;
}

/* Products */

/* Smart Device Layout */

@media screen and (min-width: 280px){

    .navmenu li{
        padding: 34.3px 8px;
    }

    .prod-menu-col p{
        font-size: 13px;
    }
}

@media screen and (min-width: 320px){

    .navmenu li{
        font-size: 30px;
        padding: 27px 12px 36.6px 12px;
    }
}

@media screen and (min-width: 360px){

    .navmenu li{
        font-size: 37px;
        padding: 20px 12px 33.6px 12px;
    }
}

@media screen and (min-width: 414px){

    .logo{
        width: 180px;
        margin: 5px 5px 5px 5px;
    }

    .prod-menu-col p{
        font-size: 16px;
    }

    .all-prod-menu p, .comic-menu p, .access-menu p, .spec-off-menu p{
        font-size: 15px;
    }
}

@media screen and (min-width: 768px){

    .navmenu li{
        font-size: 35px;
        padding: 24px 25px 32.6px 25px;
    }

    .prod-menu-col p{
        font-size: 20px;
    }

    .all-prod-menu p, .comic-menu p, .access-menu p, .spec-off-menu p{
        font-size: 20px;
    }

    .contact-info p {
        font-size: 14px;
    }

    .social-networks li{
        display: inline;
        padding: 20px;
        font-size: 45px;
    }

    .social-container h5{
        display: block;
    }

}