.checkout-page{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.664);
}

.checkout-page h1{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.each-item.checkout{
    flex-direction: row;
}

.bag-item-details.checkout h3{
    font-size: 15px;
}

.checkout-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    max-width: 312px;
    height: auto;
    padding: 5px;
    color: white;
    background-color: rgb(4, 50, 109);
    border: solid white 6px;
    margin: 10px auto 0 auto;
    box-shadow: 2px 2px 12px black;
}

.checkout-fieldset, .checkout-fieldset legend{
    padding-bottom: 5px;
}

.checkout-fieldset legend{
    text-decoration: underline;
}

#payment-form input{
    height: 20px;
    margin-bottom: 8px;
    width: 90%;
}

.checkout-user-options{
    font-size: 13px;
}

.checkout-user-options p{
    text-decoration: underline;
}

.checkout-new-user a{
    color: white;
    text-decoration: underline;
}

.adjustbag-chck{
    margin: 15px 0;
    font: inherit;
    text-decoration: none;
    color: black;
    background-color: white;
    border: solid black 4px;
    padding: 1px 3px;
    font-size: 14px;
    font-weight: 600;
}

.adjustbag-chck.adjust:hover{
    background-color: rgb(0, 174, 255);
}

.adjustbag-chck.complete:hover{
    background-color: orange;
}

/* Stripe */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  width: 90%;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #000000;
}

.StripeElement--webkit-autofill {
  background-color: #000000 !important;
}

.stripe-style-input::placeholder {
    color: #000000;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: red !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

#card-errors{
    margin-top: 5px;
    color: rgb(255, 124, 124);
}

/* Responsive Layout */
@media screen and (max-width: 280px){

    .bag-item-img.checkout img{
        max-width: 80px;
        margin: 20px 5px;
    }
}

@media screen and (min-width: 700px){

    .checkout-form {
        width: 95%;
        max-width: 600px;
    }

    .checkout-form h5{
        font-size: 15px;
    }

    .checkout-fieldset legend{
        font-size: 18px;
    }

    .checkout-user-options{
        font-size: 15px;
    }

    .adjustbag-chck{
        font-size: 16px;
    }

}

@media screen and (min-width: 1000px){

    .checkout-container{
        display: flex;
        flex-direction: row-reverse;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

    .checkout-bag-items, .checkout-form-container{
        display: inline-block;
        width: 45%;
        margin: 0 auto;
    }

    .bag-items.checkout, .shopping-bag-total.checkout{
        max-width: 500px;
    }

    .checkout-form{
        margin: 0 auto;
    }
}
