.product-detail-page{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.664);
}

/* Product Details */

.product-detail-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 312px;
    height: auto;
    background-color: white;
    border: solid black 6px;
    margin: 0 auto;
    box-shadow: 2px 2px 12px black;
}

.product-detail-img{
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-detail-img img{
    position: relative;
    max-width: 200px;
    max-height: 300px;
    margin: 20px auto;
    box-shadow: 2px 2px 4px black;
}

.product-details{
    margin: 5px auto;
    width: inherit;
}

.product-detail-price, .product-detail-manufacturer, .product-detail-publisher{
    color: rgb(4, 50, 109);
}

.product-details span{
    font-size: 10px;
    color: rgb(4, 50, 109);
}

/* Product Quantity Form */

.product-quantity-form{
    width: inherit;
}

.qunt-tool-cont{
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 0;
}

.quantity-tool{
    margin-left: 5px;
}

.add-to-bag input{
    background-color: rgb(4, 50, 109);
    color: white;
    padding: 5px;
    margin: 10px 0;
}

.add-to-bag input:hover, .keep-shopping-button:hover{
    background-color: orange;
    color: black;
}

.keep-shopping-button{
    width: 150px;
    height: auto;
    margin: 5px auto 0 0;
    color: white;
    background-color: black;
    padding: 5px;
}

.keep-shopping-button a{
    text-decoration: none;
    color: inherit;
}

/* Smart Device Layout */
@media screen and (min-width: 700px){

    .product-detail-container{
        max-width: 95%;
        flex-direction: row;
    }

    .product-details{
        margin-bottom: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .product-quantity-form{
        margin-top: 15px;
    }
}

@media screen and (min-width: 1000px){

    .product-detail-container{
        max-width: 850px;
    }

    .product-detail-img img{
        max-width: 350px;
        max-height: 450px;
    }

}

@media screen and (min-height: 1100px){

    .product-detail-container{
        flex-direction: column;
        max-width: 600px;
    }

    .product-detail-img img{
        max-width: 450px;
        max-height: 550px;
    }
}