.all-products-page{
    height: auto;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.664);
}

.all-products-page h1{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.prod-ctgry-cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 200px;
    text-align: center;
    height: auto;
    max-height: 30px;
}

.prod-ctgry-cont a{
    text-decoration: none;
    margin: 5px auto;
}

.prod-ctgry-cont a span{
    background-color: black;
    color: white;
    padding: 5px 7px;
    margin: inherit;
    height: inherit;
}

.prod-ctgry-cont a span:hover{
    background-color: rgb(4, 50, 109);
    color: white;
    padding: 5px 7px;
}

/* Sorting Products */

.sorting-container{
    display: block;
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.query-container{
    float: left;
    font-size: 13px;
    margin-bottom: 5px;
}

.query-container a{
    text-decoration: underline;
    color: black;
    font-weight: 900;
}

.sorting-selector{
    padding: 12px;
    float: left;
    background-color: black;
    margin-bottom: 5px;
}

/* Products Layout */

.all-products-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 360px;
    height: 480px;
    background-color: white;
    margin: 5px 0;
    border: solid rgb(4, 50, 109) 6px;
    box-shadow: 2px 2px 12px black;
}

.product img{
    position: relative;
    max-width: 200px;
    max-height: 300px;
    margin: 10px auto;
    box-shadow: 2px 2px 4px black;
}

.product-info{
    background-color: rgb(4, 50, 109);
    width: 90%;
    height: auto;
    padding: 5px;
    margin: 10px 5px;
    box-shadow: 2px 2px 4px black;
}

.product-info a{
    text-decoration: none;
}

.product-title{
    color: white;
    width: 90%;
    margin: 0 auto;
}

.publisher, .manufacturer{
    font-size: 12px;
    text-decoration: underline;
    padding-bottom: 5px;
}

.product-name{
    padding-bottom: 5px;
}

.product-price{
    margin: 5px auto 10px auto;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    height: auto;
}

.product-price p{
    text-align: center;
    height: 20px;
}

/* Smart Device Layout */
@media screen and (min-width: 360px){

    .query-container{
        width: 60%;
    }

}

@media screen and (min-width: 415px){

    .product{
        margin: 5px auto;
    }

    .query-container p{
        padding-top: 10px;
        font-size: 16px;
    }

}

@media screen and (min-width: 700px){

    .sorting-selector{
        float: right;
    }

    
    .product{
        width: 48%;
        margin: 5px;
    }
}

@media screen and (min-width: 1000px){

    .product{
        width: 30%;
    }
}

@media screen and (min-width: 1024px){

    .sorting-container{
        width: 60%;
    }

    .product-container{
        padding-left: 8%;
    }
}