/* Some styles come from checkout.css */

.profiles-page{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.664);
}

.profiles-page h1{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.profile-container{
    display: flex;
    flex-direction: column-reverse;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.profile-delivery-info{
    text-decoration: underline;
    font-size: 16px;
    padding-bottom: 5px;
}

.order-history-container{
    margin-top: 10px;
}

.order-history{
    height: 502px;
    padding: 5px;
    overflow-y: auto;
}

.order-history-details{
    border-bottom: solid orange 1px;
}

.order-history-number{
    text-decoration: underline;
    color: orange;
}

/* Responsive Layout */
@media screen and (min-width: 700px){

    .profile-delivery-info{
        font-size: 18px;
    }
    
}

@media screen and (min-width: 1000px){

    .profile-container{
        flex-direction: row-reverse;
    }

    .order-history-container {
        margin-top: 0;
    }

}
