{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="main-container shopping-bag-page">

        <div class="shop-bag-cont">
            <h3>Shopping Bag</h3>
            <br>
            <div class="bag-items">

                {% if bag_items %}

                    <div class="">
                        <table class="s">
                            <thead class="">
                                <tr>
                                    <th scope="">Product Info</th>
                                    <th scope=""></th>
                                    <th scope="">Price</th>
                                    <th scope="">Qty</th>
                                    <th scope="">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                            
                                <tr>
                                    <td class="">
                                        <img src="" alt="{{ item.product.name }}"><!-- src = "{{ item.product.image.url }}" -->
                                    </td>
                                    <td class="">
                                        <p class="">{{ item.product.name }}</p>
                                        <p class="">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="">
                                        <p class="">£{{ item.product.price }}</p>
                                    </td>
                                    <td class="">
                                        <p class="">{{ item.quantity }}</p>
                                    </td>
                                    <td class="">
                                        <p class="">£{{ item.product.price }}</p>
                                    </td>
                                </tr>

                            {% endfor %}

                            <tr>
                                <td colspan="5" class="">
		                            <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
									<h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h4 class=""><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                    
									{% if for_free_delivery > 0 %}
			   	 						<p class="">
											You could get free delivery by spending just <strong>£{{ for_free_delivery }}</strong> more!
									    </p>
									{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="">
                                	<a href="{% url 'products' %}" class="">
    									<span class="">
       	 									<i class="fas fa-chevron-left"></i>
    									</span>
   										 <span class="">Keep Shopping</span>
									</a>
									<a href="" class="">
									    <span class="">Secure Checkout</span>
									    <span class="">
									        <i class="fas fa-lock"></i>
									    </span>
									</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                {% else %}

                    <p>Your Shopping Bag is empty.</p>
                    <a href="{% url 'products' %}"> < Keep Shopping?</a>

                {% endif %}

            </div>

        </div>

    </div>
    
{% endblock %}