{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}

    <h1>{% trans "Set Password" %}</h1>

    <div class="checkout-form-container allauth-container">

        <div class="checkout-form">

            <br>

            <form id="allauth-form" method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="allauth-btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>

            <br>

        </div>

        <br>

    </div>

{% endblock %}
