{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

    <h1>{% trans "Change Password" %}</h1>

    <div class="checkout-form-container allauth-container">

        <div class="checkout-form">
            <br>
            
            <p>{% trans 'Your password is now changed.' %}</p>
            
            <br>

            <div class="keep-shopping-button">

                <a href="{% url 'home' %}">
                    <i class="fas fa-chevron-left"></i> Return Home?
                </a>

            </div>

            <br>

        </div>
        
        <br>

    </div>

{% endblock %}
