{% load static %}

<!doctype html>
<html lang="en">

    <head>
        {% block meta %}
        <meta http-equiv="X-UA-Compatible"  content="ie-edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="Description" content="Online Comic Book Store">
        {% endblock %}

        {% block css %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/fd5b45d410.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block js %}
        {% endblock %}

        <title>Black Bolt Comics {% block extra_title %}{% endblock %}</title>

    </head>

    <body>

        <header>
            <div class="head-nav">

                <!-- Shop Logo 
                <a href="">
                    <img src="{{MEDIA_URL}}media/blackbolt_comics.png" alt="Black Bolt Comics" id="logo">
                </a> -->

                <!--Navigation Menu
                <nav>

                    <ul id="navmenu">
                        <li>
                            <a href="">
                                <div><i class="fas fa-user"></i></div>
                                <p>My Account</p>
                            </a>
                        </li>
                            
                        <li>
                            <a href="">
                                <div><i class="fas fa-shopping-bag"></i></div>
                                <p>Shopping Bag</p>
                            </a>
                        </li>
                    </ul>
                    
                </nav> -->
                
            </div>
        </header>

        

        {% if messages %}
            <div></div>
        {% endif %}

        {% block page_header%}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}

    </body>

</html>