{% load static %}

<!doctype html>
<html lang="en">

    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="Description" content="Online Comic Book Store">
        {% endblock %}

        {% block css %}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <link rel="stylesheet" href="{% static 'css/products.css' %}">
            <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
            <link rel="stylesheet" href="{% static 'css/shopping_bag.css' %}">
            <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
            <link rel="stylesheet" href="{% static 'css/messages.css' %}">
            <link rel="stylesheet" href="{% static 'css/allauths.css' %}">
            <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
            <link rel="stylesheet" href="{% static 'css/product_management.css' %}">
        {% endblock %}

        {% block js %}
            <script src="https://kit.fontawesome.com/fd5b45d410.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <!-- STRIPE -->
            <script src="https://js.stripe.com/v3/"></script>
            <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
        {% endblock %}

        <title>Black Bolt Comics {% block extra_title %}{% endblock %}</title>

    </head>

    <body>

        <header>
            <div class="head-nav">

                <!-- Shop Logo -->
                <div class="logo-container">
                    <a href="{% url 'home' %}" class="logo-anchor">
                        <img src="{% static 'logo/blackbolt_comics.png' %}" alt="Black Bolt Comics" class="logo">
                    </a>
                </div>

                <!--Navigation Menu -->
                <div class="nav-container">

                    <ul class="navmenu">

                        <li class="nav-button srch-btn">
                            <span>
                                <i class="nav-icon fas fa-search"></i>
                            </span>
                        </li>
                        
                        <li class="nav-button acc-btn">
                            <span>
                                <i class="nav-icon fas fa-user"></i>
                            </span>
                        </li>
  
                        <li class="nav-button shop-btn">
                            <span>
                                <i class="nav-icon fas fa-shopping-bag {% if grand_total %} items-in-bag {% endif %}"></i>
                            </span>
                        </li>
                        

                    </ul>
                    
                </div>
                
            </div>

            <!-- Messages and Shopping Bag -->
            {% if messages or grand_total %}

                {% if messages %}

                    <div class="message-container">

                        {% for message in messages %}

                            {% with message.level as level %}

                                {% if level == 40 %}
                                <!-- Error -->
                                    {% include 'includes/messages/message_error.html' %}
                                {% elif level == 30 %}
                                <!-- Warning -->
                                    {% include 'includes/messages/message_warning.html' %}
                                {% elif level == 25 %}
                                <!-- Success -->
                                    {% include 'includes/messages/message_success.html' %}
                                {% else %}
                                    {% include 'includes/messages/message_info.html' %}
                                {% endif %}

                            {% endwith %}

                        {% endfor %}

                    </div>

                {% else %}
                    
                    <div class="message-container">
                        {% include 'includes/messages/message_bag.html' %}
                    </div>
                
                {% endif %}

            {% else %}
                    
                <div class="message-container">
                    {% include 'includes/messages/message_bag.html' %}
                </div>
                
            {% endif %}
            
            <!-- Product Navigation -->
            <div class="prod-menu-cont">

                <div class="prod-menu-row">

                    <div class="prod-menu-col all-prod-click">
                        <p>Products</p>
                    </div>

                    <div class="prod-menu-col comic-book-click">
                        <p>Comic Books</p>
                    </div>

                    <div class="prod-menu-col access-click">
                        <p>Accessories</p>
                    </div>

                </div>

            </div>

            <!-- All Product Menu -->
            <div class="all-prod-menu">

                <a href="{% url 'products' %}?category=comic_book">
                    <p>Comic Books</p>
                </a>

                <a href="{% url 'products' %}?category=accessory">
                    <p>Accessories</p>
                </a>

                <a href="{% url 'products' %}?category=comic_book,accessory">
                    <p>All Products</p>
                </a>
                
            </div>

            <!-- Comic Books Menu -->
            <div class="comic-menu">

                <a href="{% url 'products' %}?product-query=marvel">
                    <p>Marvel</p>
                </a>

                <a href="{% url 'products' %}?product-query=dc">
                    <p>DC Comics</p>
                </a>

                <a href="{% url 'products' %}?product-query=image">
                    <p>Image Comics</p>
                </a>

                <a href="{% url 'products' %}?product-query=horse">
                    <p>Dark Horse</p>
                </a>

                <a href="{% url 'products' %}?product-query=idw">
                    <p>IDW</p>
                </a>

                <a href="{% url 'products' %}?product-query=valiant">
                    <p>Valiant</p>
                </a>

                <a href="{% url 'products' %}?product-query=titan">
                    <p>Titan Comics</p>
                </a>

                <a href="{% url 'products' %}?product-query=boom!">
                    <p>BOOM! Studios</p>
                </a>
                
            </div>

            <!-- Accessories Menu -->
            <div class="access-menu">

                <a href="{% url 'products' %}?accessory-query=box">
                    <p>Boxes</p>
                </a>

                <a href="{% url 'products' %}?accessory-query=bags">
                    <p>Book Bags</p>
                </a>

                <a href="{% url 'products' %}?accessory-query=boards">
                    <p>Backing Boards</p>
                </a>
                
            </div>
            
            <!-- Search Tool -->
            <form class="search-tool" action="{% url 'products' %}" method="GET">
                <div class="srch-row srch-bar">
                    <div class="srch-column">
                        <input type="text" name="search-query" class="srch-box" placeholder="Search our Online Store...">
                    </div>
                    <!-- Search Button Hidden  -->
                    <div class="hide-btn">
                        <button type="submit" class="">Search</button>
                    </div>
                </div>
            </form>

            <!-- Account Menu -->
            <div class="account-menu">
                <div class="acc-menu-drop">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="acc-btn">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="acc-btn">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="acc-btn">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="acc-btn">Register</a>
                        <a href="{% url 'account_login' %}" class="acc-btn">Login</a>
                    {% endif %}
                </div>
            </div>

        </header>

        {% block content %}
        {% endblock %}

        <footer>

            <!-- Contact Information -->
            <div class="contact-info">

                 <h3>Contact Us</h3>

                <br>

                <p>
                    <i class="far fa-address-book"></i>

                    <br>
                    
                    Black Bolt Comics
                    
                    <br>
                    
                    208 Second Avenue

                    <br>

                    London

                    <br>

                    MD2Q 8LW

                    <br>
                    <br>

                    <strong>
                        <i class="fas fa-mobile-alt"></i>

                        <br>
                        
                        <a href="tel:3068326161">306 832 6161</a>

                        <br>
                        <br>
                        
                        <i class="far fa-paper-plane"></i>
                        
                        <br>
                        
                        <a href="mailto:info@blackboltcomics.com">info@blackboltcomics.com</a>
                    </strong>
                </p>
                
            </div>

            <!-- Social Networks -->
            <div class="social-container">

                <h5>Social Platforms</h5>

                <br>

                <ul class="social-networks">

                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.twitter.com" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>

                </ul>

            </div>

        </footer>

        {% block postloadjs %}
            <script src="{% static 'js/base.js' %}"></script>
        {% endblock %}

    </body>

</html>