{% load static %}

<!doctype html>
<html lang="en">

    <head>
        {% block meta %}
        <meta http-equiv="X-UA-Compatible"  content="ie-edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="Description" content="Online Comic Book Store">
        {% endblock %}

        {% block css %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block js %}
        <script src="https://kit.fontawesome.com/fd5b45d410.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        {% endblock %}

        <title>Black Bolt Comics {% block extra_title %}{% endblock %}</title>

    </head>

    <body>

        <header>
            <div class="head-nav">

                <!-- Shop Logo -->
                <div class="logo-container">
                    <a href="" class="logo-anchor">
                        <img src="{{MEDIA_URL}}media/blackbolt_comics.png" alt="Black Bolt Comics" class="logo">
                    </a>
                </div>

                <!--Navigation Menu -->
                <div class="nav-container">

                    <ul class="navmenu">

                        <li class="nav-button srch-btn">
                            <span>
                                <i class="nav-icon fas fa-search"></i>
                                <p class="nav-name">Search</p>
                            </span>
                        </li>
                        
                        <li class="nav-button acc-btn">
                            <span>
                                <i class="nav-icon fas fa-user"></i>
                                <p class="nav-name">My Account</p>
                            </span>
                        </li>

                        <a href="">   
                            <li class="nav-button">
                                <span>
                                    <i class="nav-icon fas fa-shopping-bag"></i>
                                    <p class="nav-name">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                            $0.00
                                        {% endif %}
                                    </p>
                                </span>
                            </li>
                        </a>

                    </ul>
                    
                </div>
                
            </div>
            
            <form class="search-tool" action="" method="POST">
                <div class="row srch-bar">
                    <div class="column">
                        <label for="" class=""></label>
                        <input type="text" name="" id="" class="srch-box" placeholder="Search our Online Store...">
                    </div>
                    <!-- Search Button Hidden  -->
                    <div class="hide-btn">
                        <button type="submit" class="">Search</button>
                    </div>
                </div>
            </form>

            <div class="account-menu">
                <div class="acc-menu-drop">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="acc-btn">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="acc-btn">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="acc-btn">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="acc-btn">Register</a>
                        <a href="{% url 'account_login' %}" class="acc-btn">Login</a>
                    {% endif %}
                </div>
            </div>

        </header>

        

        {% if messages %}
            <div></div>
        {% endif %}

        {% block page_header%}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        <script type="text/javascript">

            $(".srch-btn").click(function(){

                $(this).toggleClass("srch-btn-click");
                $(".search-tool").toggle();
                $(".account-menu").hide();

                if ($(".acc-btn").hasClass("acc-btn-click")){
                    $(".acc-btn").toggleClass("acc-btn-click");
                }

            })

            $(".acc-btn").click(function(){

                $(this).toggleClass("acc-btn-click");
                $(".account-menu").toggle();
                $(".search-tool").hide();

                if ($(".srch-btn").hasClass("srch-btn-click")){
                    $(".srch-btn").toggleClass("srch-btn-click");
                }

            })

        </script>
        {% endblock %}

    </body>

</html>