{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="main-container all-products-page">

        <h1>Products</h1>

        <div class="prod-ctgry-cont">
            {% for cat in current_categories %}
                <a href="{% url 'products' %}?category={{ cat.name }}">
                    <span>{{ cat.friendly_name }}</span><br>
                </a>
            {% endfor %}
        </div>

        <div class="sorting-container">
            <div class="query-container">
                <p>
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <a href="{% url 'products' %}">< Products Home</a>
                    {% endif %}

                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
            <div class="sorting-selector">
                <select name="" id="sort-selector" class="">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                </select>
            </div>
        </div>

        <div class="all-products-container">

            <div class="product-container">

                {% for product in products %}

                <div class="product">

                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>

                    <div class="product-info">

                        {% if product.publisher %}
                            <div class="product-title publisher">
                                <p>{{ product.publisher }}</p>
                            </div>
                        {% endif %}

                        {% if product.manufacturer %}
                            <div class="product-title manufacturer">
                                <p>{{ product.manufacturer }}</p>
                            </div>
                        {% endif %}

                        <div class="product-title product-name">
                            <p>{{ product.name }}</p>
                        </div>

                    </div>

                    <div class="product-price">
                        <p>£{{ product.price }}</p>
                    </div>

                </div>

                {% endfor %}

            </div>

        </div>

        <br>

    </div>

    
{% endblock %}