{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main-container product-detail-page">

    <br>

    <div class="product-detail-container">

        <div class="product-detail-img">
            
            <a href="{{ product.image.url }}" target="_blank">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>

        </div>

        <div class="product-details">

            {% if product.manufacturer %}
                <div class="product-detail-manufacturer">
                    <h3>{{ product.manufacturer }}</h3>
                </div>
            {% endif %}

            {% if product.publisher %}
                <div class="product-detail-publisher">
                    <h3>{{ product.publisher }}</h3>
                </div>
            {% endif %}

            <div class="product-detail-title">
                <h2>{{ product.name }}</h2>
            </div>

            <div class="product-detail-price">
                <h1>£{{ product.price }}</h1>
            </div>

            {% if product.writer %}
                <div class="product-detail-writer">
                    <span>Writer.</span>
                    <h5>{{ product.writer }}</h5>
                </div>
            {% endif %}

            {% if product.artist %}
                <div class="product-detail-artist">
                    <span>Artist.</span>
                    <h5>{{ product.artist }}</h5>
                </div>
            {% endif %}

            <div class="product-detail-description">
                <span>Description.</span>
                <h6>{{ product.description }}</h6>
            </div>

        </div>

        <form class="product-quantity-form" action="{% url 'add_to_bag' product.id %}" method="POST">

            {% csrf_token %}
                <div class="qunt-tool-cont">

                    <p class=""><strong>Quantity: </strong></p>

                    <div class="quantity-tool">

                        <button class="decrement-qty" 
                                data-item_id="{{ product.id }}" 
                                id="decrement-qty_{{ product.id }}">

                            <span class="">
                                <i class="fas fa-minus"></i>
                            </span>

                        </button>

                        <input class="qty_input" type="number" 
                            name="quantity" value="1" min="1" max="99" 
                            data-item_id="{{ product.id }}" 
                            id="id_qty_{{ product.id }}">

                         <button class="increment-qty" 
                                data-item_id="{{ product.id }}" 
                                id="increment-qty_{{ product.id }}">

                            <span class="">
                                <i class="fas fa-plus"></i>
                            </span>

                        </button>

                    </div>

                </div>

                <div class="add-to-bag">
                    <input type="submit" value="Add to Bag">
                </div>

                <div class="keep-shopping-button">
                    <a href="{% url 'products' %}">
                        <i class="fas fa-chevron-left"></i> Keep Shopping
                    </a>
                </div>

                <br>

                <input type="hidden" name="redirect_url" value="{{ request.path }}">

            </div>

        </form>

        <br>

    </div>

</div>

{% endblock %}