{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="main-container products-page">
        <div class="products-container">
            {% for product in products %}
            <div class="product">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                <div class="product-title">
                    <p>{{ product.name }}</p>
                </div>
                <div class="product-price">
                    <p>{{ product.price }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}